.forms{
    width: 712px;
    display: flex;
    flex-flow: column;
}

.form_row{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.form_row h2{
    font-style: normal;
    font-weight: 550;
    font-size: 36px;
    line-height: 44px;
    color: #01012F;
    margin-bottom: 32px;
}

.form_row p{
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: #7B96A2;
    margin-bottom: 40px;

}

.form_row label{
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: #222222;
}

sup{
    color: #DB4E62;
}


.form-control{
    padding: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: #7B96A2;
    background: #F7F9FE;
    border: 1px solid #F7F9FE;
    border-radius: 0;
    border-bottom: 1px solid #7B96A2;
}

.form-control:focus{
    background-color: #fff;
    border-color: #0F62FE;
    outline: 0;
    box-shadow: none;
}

.form-control:hover{
    border-bottom: 1px solid #0F62FE;
}

.form_row textarea{
    padding: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: #7B96A2;
    background: #F7F9FE;
    border: 1px solid #F7F9FE;
    border-radius: 0;
    border-bottom: 1px solid #7B96A2;
    width: 100%;
    height: 371px;
    resize: none;
}

.form_row textarea:focus{
    background-color: #fff;
    border-color: #0F62FE;
    outline: 0;
    box-shadow: none;
}

.footers__txt{
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: #222222;
    margin-bottom: 8px;
}

.file{
    display: none;
}

.files{
    background: #F7F9FE;
    border: 1px solid #EFF3FD;
    padding: 12px;
    width: 224px;
    overflow: hidden;
}
.files label{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}


.files span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.001em;
    color: #222222;

}

.form_row button{
    background: #0F62FE;
    color: #fff;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.001em;
    border: 0;
}

.form_row .footers{
    display: flex;
    gap: 20px;
}

@media(max-width:768px){
    .forms{
        width: 100%;
    }  
}